@import url('https://fonts.googleapis.com/css?family=Raleway:400,500|Roboto:400,500,700');




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

html {
    font-size: 16px;
	line-height: 1.5em;
}


p {
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    line-height: 2.5em;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 17px;
    margin-right: 17px;
    align-content: center;
    color: #7A7476;
}

h1 {
    background-image: url(images/text-bar.png);
    height: 108px;
    font-family: 'Roboto', sans-serif;
    color: #495D57;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.75em;
    text-align: center;
    
  
    
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: 500;
    text-align: center;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 40px;
    font-size: 40pt;
    color: #7a7476;
    
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    line-height: 1.5em;
    color: white;
    width: 274px;
    margin-bottom: 20px;
    text-align: left;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight: 700;
    margin-top: 20px;
    color: #7A7476;
    margin-bottom: 35px;

}

h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24pt;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #7A7476;
    
}


h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #7A7476;  
}

.size {
    font-size: 50pt;
    border-bottom: 7px solid #EEEEEF;
    color: #649393;
}

.aqua{
    color: #649393;
}

section {
    
    margin-bottom: 100px;
    text-align: center;
}


.wrapper {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    
}

.nomobile {
    display: none;
}

.fixed {
    position: fixed;
    z-index: 10;
    background-color:#7a7476;
    width: 100%;
}

nav {
    overflow: hidden;
    float: left;
}

.menu_button {
    padding:1em 1em 1em 1em;
    color: white;
    font-size: 40pt;
    float: left;
  
   
}

.menu_button:hover {
    
}

#menu {
    display:none;
    width: 100%;
}

#menu li {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    letter-spacing: 2pt;
    padding: 1em 0em;
    margin: 2em 0em;
    text-align: center;
  
}

#menu li:hover {
    background-color:grey;
}

a {
    color:white;
    text-decoration: none;
}

.hamburger {
    color: white;
    float: left;
    margin-left: 4%;
    font-size: 60px;
    line-height: 1em;
}

.logo {
    margin-left: 1.5%;
    margin-top: 1.5em;
    margin-right: 6%;
    width: 40%;
    float: left;
}

.navicon {
    margin-top: 2.25em;
    margin-left: 3%;
    width: 7.8%;
    float: left;
    
}

header {
    top: 114px;
    position: relative;
    
}

.cta {
    position: absolute;
    top: 75px;
    left: 7.8125%;
    
}

button {
    color: white;
    background-color: transparent;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    border: 3px  solid white;
    width: 188px;
    height: 45px;
    text-align: center;
    text-transform: uppercase;
    
}

button:hover {
    background-color: rgba(0,0,0,.5);
    color: white;
}


main {
    margin-top: 180px;
    text-align: center;
    
}

.gray{
    background-color: #EEEEF0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.instructor{
    margin-left: 38%;
}

.icon {
    margin-left: 37%;
    margin-bottom: 50px;
    margin-top: 150px;
    
}

.button2 {
    background-color: #d5d2c4;
    border-radius: 17px;
    line-height: .75em;
    width: 350px;
    margin-top: 100px;
    margin-left: 21%;
    margin-bottom: 70px;
    
}

form {
    text-align: center;
    color: #EEEEF0;
    width: 83.75%;
    padding: 30px 15px;
    margin-top: 200px;
    margin-left: 7.089%;
    margin-bottom: 150px;
    background-color: #EEEEF0;
}

input {
    border-radius: 30px;
    border: 4px solid #7a7476;
    font-size: 20px;
    margin-bottom: 10px;
    width: 83.208%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.75em;
    line-height: 1em;
    padding: 15px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    
}

.submit {
    background-color: #d5d2c4;
    line-height: .75em;
    border: none;
    width: 42.60%;
    border-radius: 17px;
    text-transform: uppercase;
    color: #7a7476;
}

input[placeholder], [placeholder], *[placeholder] {
   color: #7a7476;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d5d2c4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d5d2c4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d5d2c4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d5d2c4;
}

footer{
    background-color: #EEEEEF;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 1px;
}


.sml {
    margin-left: 29.68%;
    
}

.socialmedia {
    display: inline-block;
    height: auto;
    margin-top: 20px;
	margin-left: 5%;
	margin-right:auto;
    z-index: 10; 
    
}

@media screen and (min-width: 641px) {
    

    .wrapper {
        max-width: 1200px;
        width: 100%;
        
    }
    
    
    header {
        width: 88.33%;
        margin-left: 70px;
        margin-top: -95px;
    }
    
    .nodesk {
        display: none;
        
    }
    
    .nomobile {
        display: block;
    }
    
    nav {
        width: 100%; 
        height: 75px;
        position: relative;
    }
    
    .cta {
        margin-left: 2.8301887%;
        margin-top: 50px
    }
    
    button {
        margin-left: -5.660377px;
    }
    
    .fixed{
        width: 1200px;
    }
    
    .hamburger {
        display: none;
    }

    .logo {
        margin-left: 2.5%;
        margin-top: 130px;
        width: 16.66666667%;
        float: left;
    }
    
    #menu {
        float: right;
        width: 70%;
        padding-top: 20px;
        margin-top: 130px;
    }
    
    
    #menu li {
        width: 16%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 2pt;
        padding: 0;
        margin: 0px .08%;
        text-align: center;
        float: left;
  
    }
    
    
    
    #search {
        width: 32.68292%;
        font-size: 10px;
        margin-top: -18px;
        margin-right: 12.19512%;
        border-color: white;
        color: white;
        float: right;
        
        
    }
    
    
    
    .container-1 input#search{
        width: 17%;
        height: 30px;
        background: transparent;
        font-size: 10pt;
        float: right;
        color: white;
        padding-left: 2%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 25px;
        border-width: 3px;
        margin-top: -30px;
        
        }
    
   

    
    .container-1 input#search::-webkit-input-placeholder {
       color: white;
    }

    .container-1 input#search:-moz-placeholder { /* Firefox 18- */
       color: white;  
    }

    .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
       color: white;  
    }

    .container-1 input#search:-ms-input-placeholder {  
           color: white;  
    }

    .navicon {
            display: none;

    }
    
    main {
        width: 47.5%;
        float: left;
        margin-top: 200px;
        margin-left: 5.83333%;
        
    } 
    
 
    
    .icon {
        margin-left: 18%;
    }
    
    
    .iconbox {
        margin-top: -75px;
        width: 21%;
        margin-left: 3.3333%;
        float: left;
        margin-bottom: 80px;
    }
    
    .icon:hover {
        background-color: white;
        opacity: .5;
        color: white;
        }

    
    .iconclass {
        clear: both;
        margin-left: -0.83333%;
        
    }
    
    aside {
        margin-top: -30px;
        float: left;
        width: 38.3333%;
    }
    
    p {
        text-align: left;
        font-size: 15pt;
        line-height: 1.5;
        max-width: 500px;
    }
    
    h1 {
        text-align: left;
        background-image: none;
        margin-bottom: -60px;
    }
    
    h2{
        font-size: 24pt;
        margin-top: 50px;
    }
    
    h3 {
        margin-top: 200px;
        margin-left: 20px;
        text-align: left;
    }
    
    h4 {
        font-size: 20pt;
        line-height: 1.5em;
    }
    
    h6 {
        margin-left: 800px;
        
    }
    
    .leftalign{
        float: left;
        width: 400px;
        margin-left: 20px;
        
    }
    

    
    .aqua{
        float: left;
    }
   

    .white{
        color: white;
        font-weight: 400;
    }
    
    .big{
        color: white;
        font-size: 80pt;
        font-family: 'Raleway', 'serif';
    }
    
    .size{
        font-size: 40pt;
        color: #649393;
    }
    
    
    
    .calendarbox{
        margin-top: 170px;
        margin-left: 7%;
        background-color: #649393;
        width: 76%;
    }
    
    .gray{
        background-color: transparent;
    }
    
    .button2{
        margin-left: 30%;
        width: 45%;
        min-width: 200px;
        clear: both;
    }
    
    .rsvp{
        margin-left: 15%;
        width: 60%;
        min-width: 100px;
    }
    
    .map{
        width: 420px;
        margin-top: 50px;
        margin-left: 145px;
        display: inline-block;
    }
    
    form {
        margin-top: none;
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
        
    }
    
    input {
        margin-bottom: 10px;
        width: 89.130434%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.75em;
        padding: 15px 20px;
        margin: 3.2608% 0;
    
    }
    
    
    footer {
        clear: both;
    }
    
    
    .sml {
        float: left;
        width: 25%;
        margin-left: 3.333%;
        margin-top: -30px  

    }
    
      .nodesk {
        display:none;
    }
    
    #menu {
        display:block !important; /* in case of javascript override */
    }
    

}


