/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}


/* Your CSS Starts here */
/* Place google fonts code here */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,600,400); */
/* Place google fonts code here */

html,body {

}

/* Divs start here */
.wrapper {
	position: relative;
    background-color: none;
	width: 100%;
    max-width: 1200px;
    height: auto;
	margin-left:auto;
	margin-right:auto;
    overflow: hidden;
		
}

.headline {
    position: absolute;
	background-color: none;
	width: 70%;
    height: auto;
    text-align: right;
	margin-right: 5%;
    margin-left: 25%;
	margin-top: 20px;
	margin-bottom: none;	
	overflow: hidden; /*fixes problem with top margin in child*/
	
}

.readbox {
    position: absolute;
    width: 36.25%;
    height: 90px;
    margin-top: 180px;
    margin-left: 58%;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    
}
.readbox:hover{
    border-color: #f7941e;
}

.ad {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.recent {
    position: relative;
    width: 90%;
    max-width: 720px;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
}



.articletitles {
    position: absolute;
    background-color: rgba(247,148,30,.6);
    width: 100%;
    height: 93%;
    padding-top: 10px;
    z-index: 3;
 
}

.articletitles:hover {
    background-color: rgba(247,148,30,0);
}

.logo{
    position: absolute;
    margin-left: 27%;
    margin-top: 15px;
}

.featuredarticle{
    background-color: rgba(247,148,30,.3);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
    
}

.orange{
    color: #f7941e;
    text-decoration: underline;
    margin-left: 69%;
   
}

.orange:hover{
    color: white;
}

.small{
    font-size: 80%;
    text-decoration: underline;
    margin-left: 79.5%;
}

/*nav.fixed-header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    
}*/

.nav {
	position: absolute;
    background-color: none;
	width: 12%;
    height: auto;
    margin-top: 28px;
    margin-left: 40px;
    margin-bottom: 10px;
	overflow: hidden; /*fixes collapsing div*/
    z-index: 100;
	
}

.facebook{
    position: absolute;
    background-color: none;
	width: 8%;
    height: auto;
    margin-top: 27px;
	margin-left:75%;
	margin-right:auto;
    z-index: 10;
}

.twitter{
   position: absolute;
    background-color: none;
	width: 8%;
    height: auto;
    margin-top: 27px;
	margin-left:86%;
	margin-right:5%;
    z-index: 10; 
}

.ptag{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.smaller{
    font-size: 50%;
}





.hero {
	position: center;
    background-color: none;
	width: 100%;
    height: auto;
	margin-left:auto;
	margin-right:auto;
    z-index: 10;
    overflow: hidden;
}

li {
	position: relative;
    background-color: none;
	width: 100%;
    text-align: center;
    margin-left: none;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
    float: left;
	overflow: hidden; /*fixes collapsing div*/
	    
}

.one {
	position: relative;
    background-color: #f7941e;
    width: 100%;
    min-width: 800px;
    height: 120px;
    margin-left: none;
	margin-right: none;
	margin-top: none;
	margin-bottom: none;
	/*overflow: hidden; fixes problem with top margin in child*/

}

.two {
   position: relative;
    background-color: #f7941e;
    width: 100%;
    min-width: 800px;
    height: 80px;
    margin-left: none;
	margin-right: none;
	margin-top: none;
	margin-bottom: none;
	overflow: hidden; /*fixes problem with top margin in child*/
	
}

.three {
    position: relative;
	background-color: rgba(247,148,30,.5);
	width: 100%;
    height:350px;
	margin-top: 35px;
	margin-bottom: none;	
    float: left;
	overflow: hidden; /*fixes problem with top margin in child*/
	
}

.four {
    display: none;
    position: relative;
	background-color: #eee;
	width: 21.875%;
    height: 200px;
	margin-left: 2.5%;
	margin-top: 25px;
	margin-bottom: none;	
    float: left;
	overflow: hidden; /*fixes problem with top margin in child*/
	
}

.five {
    display: none;
    position: relative;
	background-color: #ddd;
	width: 17%;
    height: 150px;
	margin-left: 2.5%;
	margin-top: 25px;
	margin-bottom: none;	
    float: left;
	overflow: hidden; /*fixes problem with top margin in child*/
	
}

.six {
    display: none;
    position: relative;
	background-color: #eee;
	width: 13.75%;
    height: 100px;
	margin-left: 2.5%;
	margin-top: 25px;
	margin-bottom: 25px;	
    float: left;
	overflow: hidden; /*fixes problem with top margin in child*/
	
}

.mainmenu {
	position: fixed;
	width: 30px;
    height: auto;
	left: 80%;
	top: 15px;
	z-index: 40;
}

.menudrop {
	position: absolute;
	background: #FFF;
	width: 100%;
	height: auto;
	left: 0%;
	top: 12%;
	overflow: hidden;
	z-index: 100;
	display: none;
	
}

.hamburger {
	position: relative;
	width: 100%;
	overflow: hidden;
	
}

.hamburger_bar li {
	position: relative;
	width: 100%;
	height: 10%;
	border-bottom: solid;
	border-color: #FFFFE5;
	border-width: 1px;
	margin-left: 0%;
	margin-top: 5%;
	text-indent: 5%;
	overflow: hidden;
	z-index: 50;
	
}

.hamburger a {
	text-decoration: none;
	color: #AAA;
	font-family: 'Arvo', 'Georgia', 'Times New Roman', serif;
	font-size: .75em;
	line-height: 1.75em;
	margin-left: auto;
    margin-right: auto;
	
}

.hamburger li:hover {
	margin-top: 6.25%;
	
}

body { margin:0px; padding:0px; }

/* Text Styles start */
p {
	font-family: 'PT Serif', 'Times New Roman', serif;
	font-size: 1.756em;
	color: black;
	font-style: normal;
	letter-spacing: none;
	line-height: 1.6em;
	
}

h1 {
	font-family: 'Lato', 'Century Gothic', sans-serif;
	font-size: 3.7em;
	color: white;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.2em;


}

h2 {
	font-family: 'Lato', 'Century Gothic', sans-serif;
	font-size: 2.8em;
    text-align: center;
	color: white;
	font-style: bold;
	letter-spacing: none;
	line-height: 1em;
	margin-top: 20px;

}

h3 {
	font-family: 'Lato', 'Century Gothic', sans-serif;
	font-size: 4em;
	color: #f7941e;
	font-style: normal;
	letter-spacing: none;
	line-height: none;
    margin-left: 5%;

}

h4 {
	font-family: 'Lato', 'Century Gothic', sans-serif;
	font-size: 2.7em;
	color: black;
	font-style: normal;
    font-weight: bolder;
	letter-spacing: none;
	line-height: 1.6em;
    margin-bottom: 30px;

}

h5 {
	font-family: 'Georgia', 'Times New Roman', serif;
	font-size: .75em;
	color: gray;
	font-style: normal;
	letter-spacing: none;
	line-height: none;

}

h6 {
	font-family: 'Georgia', 'Times New Roman', serif;
	font-size: .5em;
	color: gray;
	font-style: normal;
	letter-spacing: none;
	line-height: none;

}

/* Links */

li {
	font-family: 'Lato', 'Century Gothic', sans-serif;


}

a {
	font-weight: normal;    
	color: white;
	font-family: 'Lato', 'Century Gothic', sans-serif;
	text-align: center;
	text-decoration: none;
}

a:hover {
	color: #f7941e;
	text-decoration: none;
}

/* Turns off link borders on Firefox */
a:active, a:focus {outline: 0;}

/* You don’t need the following, yet */
/* Media Query for tablets with at least 768px wide windows */
@media screen and (min-width:768px)
{
	
	
}

/* Media Query for desktops with at least 1000px wide windows */
@media screen and (min-width:1000px)
{

li {
	width: 20%;
    
}

.one {
    width: 100%;
    margin-left: 0%;
	margin-right: auto;
	margin-top: none;
	margin-bottom: none;
    
}
    
.two {
    width: 100%;
    margin-left: 0%;
	margin-right: auto;
	margin-top: none;
	margin-bottom: none;
	
}

.three {
    width: 30%;
    height: 300px;
	margin-left: 2.5%;
	margin-top: 25px;
	
}

    
.four {
    display: block;
    	
}

.five {
    display: block;
    	
}

.six {
    display: block;
    
}
    
x.menudrop {
	position: absolute;
	background: #FF3333;
	width: 100%;
	height: auto;
	left: 0%;
	top: 4%;
	overflow: hidden;
	z-index: 100;
	display: none;
	
}

    
.menudrop {
    position: relative;
    background-color: none;
	width: 100%;
    text-align: center;
    margin-left: none;
	margin-right: auto;
	margin-top: none;
	margin-bottom: none;
    float: left;
	overflow: hidden; /*fixes collapsing div*/
    display: block;
    
}
    
.mainmenu {
    display: none;
        
}
	
	
}